#title {
    margin-left: 200px;
    font-size: 27px;
}

#navlist {
    margin-right: 100px;
}

section {
    width: 80%;
    margin: 80px auto;
    font-family: 'Poppins', sans-serif
}

.banner {
    height: 100vh;
    min-height: 500px;
    background-image: url('./p3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Varela', sans-serif;
    color: rgb(80, 57, 94);
}

.banner h1 {
    margin-bottom: 35px;
}

.line {
    width: 150px;
    height: 4px;
    background: #fc036b;
    margin: 10px auto;
    border-radius: 5px;
}

.ctn {
    padding: 8px 15px;
    background: #fc036b;
    border-radius: 30px;
    color: whitesmoke;
}

.events img {
    width: 450px;
    height: 338px;
}

.banner .ctn {
    margin-top: 25px;
    margin-bottom: 25px;
}

.places .ctn {
    margin-top: 12px;
}

.places {
    width: 100%;
    height: 80vh;
    background-image: url("./cc.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.places-content {
    height: 75%;
    width: 50%;
    padding: 5px;
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: beige;
    opacity: 70%;
    margin-left: 20px;
}

.places-content h1 {
    font-size: 7vmin;
    margin: 20px;
    color: black;
    text-align: center;
}

.places-content p {
    color: black;
    text-align: justify;
    margin-top: 10px;
}

.places-content .ctn {
    margin-top: 30px;
}

.places-content .line {
    margin-bottom: 20px;
}

.places img {
    opacity: 50%;
}

.places .line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
}

.row .col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.events img {
    width: 450px;
    height: 338px;
    align-items: center;
}

.events .row {
    margin-top: 50px;
}

.events .ctn {
    margin-top: 30px;
}


.gallery img {
    width: 300px;
    height: 200px;
    margin: 10px;
}

.footer {
    width: 100%;
    min-height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: #484872;
    text-align: center;
    font-family: 'Outfit', sans-serif
}

.footer p {
    color: whitesmoke;
    margin: 20px auto;
    padding: 20px auto;
}
